
        <% include top.html %>
        <h1>学生信息列表</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>手机号</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <% for(let s of stulist){ %>
                <tr>
                    <td>
                        <%=s.sid%>
                    </td>
                    <td>
                        <%=s.username%>
                    </td>
                    <td>
                        <%=s.stuid%>
                    </td>
                    <td>
                        <%=s.tel%>
                    </td>
                    <td>
                        <%=s.addtimes.toLocaleString()%>
                    </td>
                    <td><a href="###" sid="<%=s.sid%>" class="delstu">删除</a> </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/stu.js"></script>
</body>

</html>