<% include head.html%>
<div class="layui-body mymain">
    <span class="layui-breadcrumb">
        <a href="/admin">首页</a>
        <a href="/admin/questions">试题管理</a>
        <a><cite>试题添加</cite></a>
    </span>
    <hr>

    <form class="layui-form" action="" id="addquestion">
        <div class="layui-form-item">
            <label class="layui-form-label">题干</label>
            <div class="layui-input-block">
                <input type="text" name="catename" required lay-verify="required" placeholder="请输入试题名称" autocomplete="off"
                    class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required">
                    <option value=""></option>
                    <% for (let c of catelist){ %>
                    <option value="<%=c.cid%>">
                        <%=c.catename%>
                    </option>
                    <%}%>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">解析</label>
            <div class="layui-input-block">
                <div id="editor" style="width:800px;"></div>
                    <textarea name="" id="pinfo" style="display:none" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="addcate">保存</button>
            </div>
        </div>
    </form>

</div>

<script src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>

<script type="text/javascript">
window.onload = function(){
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/uploads';
    editor.customConfig.uploadFileName = 'images';
    // 同步内容到textarea
    var $pinfo = $('#pinfo');
    editor.customConfig.onchange = function (html) {
        $pinfo.val(html);
    }
    editor.create();
}
   
</script>
<% include foot.html%>