<% include head.html%>
<div class="layui-body mymain">
    <span class="layui-breadcrumb">
        <a href="/admin">首页</a>
        <a href="/admin/category">分类管理</a>
        <a><cite>分类列表</cite></a>
    </span>
    <hr>
    <table class="layui-table  mytable catelist">
            <colgroup>
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>分类名称</th>
                <th>操作人</th>
                <th>添加时间</th>
                <th>操作</th>
              </tr> 
            </thead>
            <tbody>
                <% for (let c of catelist){ %>
              <tr>
                <td><%=c.cid%></td>
                <td><%=c.catename%></td>
                <td><%=c.username%></td>
                <td><%=c.addtimes.toLocaleString()%></td>
                <td>
                        <a href="###" class="delcate" cid="<%=c.cid%>">删除</a>
                        |
                        <a href="/admin/updatecate?cid=<%=c.cid%>">修改</a>
                        
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
</div>
<% include foot.html%>