<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link rel="stylesheet" href="./css/login.css">
    
</head>
<body>
    登录表单

    <form action="" method="get">

        <input type="text" name="username" class="input">
    </form>

    <div class="mydiv">背景图片</div>
    <script src="./js/login.js"></script>
</body>
</html>